# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

project_4/project_4.cache/wt/java_command_handlers.wdf
project_4/project_4.cache/wt/webtalk_pa.xml
*.wdf
*.rst
*.xml
*.sh
*.log
*.jou
*.js
*.pb
*.rpt
*.dcp
*.bat
*.tcl
project_4/project_4.runs/impl_1/htr.txt
project_4/project_4.runs/synth_1/htr.txt
*.vdi
*.vds
*.str
*.sdb
*.exe
*.type
*.svtype
*.prj
*.wdb
*.dbg
*.mem
*.reloc
*.rtti
*.xdbg
*.ini
project_4/project_4.sim/sim_1/behav/xsim.dir/verilog_trigger_top_test1_behav/Compile_Options.txt
*.sdf
project_4/project_4.sim/sim_1/impl/timing/verilog_trigger_top_test1_time_impl.v
project_4/project_4.sim/sim_1/impl/timing/xsim.dir/verilog_trigger_top_test1_time_impl/Compile_Options.txt
project_4/project_4.sim/sim_1/synth/func/verilog_trigger_top_test1_func_synth.v
project_4/project_4.sim/sim_1/synth/func/xsim.dir/verilog_trigger_top_test1_func_synth/Compile_Options.txt
project_4/project_4.sim/sim_1/synth/timing/verilog_trigger_top_test1_time_synth.v
project_4/project_4.sim/sim_1/synth/timing/xsim.dir/verilog_trigger_top_test1_time_synth/Compile_Options.txt