# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

project_3/tables
project_4/project_4.cache/wt/java_command_handlers.wdf
project_4/project_4.cache/wt/webtalk_pa.xml
*.wdf
*.rst
*.xml
*.sh
*.log
*.jou
*.js
*.pb
*.rpt
*.dcp
*.bat
*.tcl
project_4/project_4.runs/impl_1/htr.txt
project_4/project_4.runs/synth_1/htr.txt
*.vdi
*.vds
*.str
*.sdb
*.exe
*.type
*.svtype
*.prj
*.wdb
*.dbg
*.mem
*.reloc
*.rtti
*.xdbg
*.ini
project_4/project_4.sim/sim_1/behav/xsim.dir/verilog_trigger_top_test1_behav/Compile_Options.txt
*.sdf
project_4/project_4.sim/sim_1/impl/timing/verilog_trigger_top_test1_time_impl.v
project_4/project_4.sim/sim_1/impl/timing/xsim.dir/verilog_trigger_top_test1_time_impl/Compile_Options.txt
project_4/project_4.sim/sim_1/synth/func/verilog_trigger_top_test1_func_synth.v
project_4/project_4.sim/sim_1/synth/func/xsim.dir/verilog_trigger_top_test1_func_synth/Compile_Options.txt
project_4/project_4.sim/sim_1/synth/timing/verilog_trigger_top_test1_time_synth.v
project_4/project_4.sim/sim_1/synth/timing/xsim.dir/verilog_trigger_top_test1_time_synth/Compile_Options.txt
project_3/project_3.runs/impl_2/htr.txt
project_3/project_3.runs/synth_1/dont_buffer.xdc
project_3/project_3.runs/synth_1/dont_touch.xdc
project_3/project_3.runs/synth_1/htr.txt
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/axi_reg_slice.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/bin_cntr.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/bram_fifo_rstlogic.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/bram_sync_reg.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/builtin_extdepth.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/builtin_extdepth_low_latency.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/builtin_extdepth_v6.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/builtin_prim.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/builtin_prim_v6.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/builtin_top.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/builtin_top_v6.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/clk_x_pntrs_builtin.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/delay.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/fifo_generator_top.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/fifo_generator_v12_0_builtin.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/fifo_generator_v12_0_pkg.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/fifo_generator_v12_0_synth.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/input_blk.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/logic_builtin.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/output_blk.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/rd_pe_as.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/rd_pe_ss.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/reset_blk_ramfifo.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/reset_builtin.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/shft_ram.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/shft_wrapper.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/wr_pf_as.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/fifo_generator_v12_0/wr_pf_ss.vdb
project_3/project_3.sim/sim_1/behav/xsim.dir/verilog_trigger_top_test1_behav/Compile_Options.txt
project_3/project_3.sim/sim_1/synth/timing/verilog_trigger_top_test1_time_synth.v
project_3/project_3.srcs/sources_1/ip/clk_wiz_0/clk_wiz_0.v
project_3/project_3.srcs/sources_1/ip/clk_wiz_0/clk_wiz_0.veo
project_3/project_3.srcs/sources_1/ip/clk_wiz_0/clk_wiz_0.xci
project_3/project_3.srcs/sources_1/ip/clk_wiz_0/clk_wiz_0.xdc
project_3/project_3.srcs/sources_1/ip/clk_wiz_0/clk_wiz_0_board.xdc
project_3/project_3.srcs/sources_1/ip/clk_wiz_0/clk_wiz_0_clk_wiz.v
project_3/project_3.srcs/sources_1/ip/clk_wiz_0/clk_wiz_0_funcsim.v
project_3/project_3.srcs/sources_1/ip/clk_wiz_0/clk_wiz_0_funcsim.vhdl
project_3/project_3.srcs/sources_1/ip/clk_wiz_0/clk_wiz_0_ooc.xdc
project_3/project_3.srcs/sources_1/ip/clk_wiz_0/clk_wiz_0_stub.v
project_3/project_3.srcs/sources_1/ip/clk_wiz_0/clk_wiz_0_stub.vhdl
project_3/project_3.srcs/sources_1/ip/clk_wiz_0/doc/clk_wiz_v5_1_changelog.txt